<div class="content">
     <div *ngIf="vehicles && IsDay()">        
        <div *ngFor="let vehicle of vehicles.vehicles;">
            <div class="tile bg-grayDark">
                <label class="litleTitle">{{ vehicle[0].destination.slice(0, 16) }}</label>
                <div  class="stockValue fg-lime">
                    <div *ngFor="let v of vehicle; let i = index;">
                        <span *ngIf="i < 2 && IfHasVehicle(v.message)== false && v.message=='Train à quai'">
                            A quai
                        </span>
                        <span *ngIf="i < 2 && IfHasVehicle(v.message)== false && v.message=='Train sans arrêt'">
                            SA
                        </span>
                        <span *ngIf="i < 2 && IfHasVehicle(v.message)== false && v.message=='Train à l\'approche'">
                            App
                        </span>
                        <span *ngIf="i < 2 && IfHasVehicle(v.message)== false && v.message=='A l\'approche'">
                            App
                        </span>
                        <span *ngIf="i < 2 && IfHasVehicle(v.message)== false && v.message=='A l\'arret'">
                            A l'arret     
                        </span>
                        <span *ngIf="i < 2 && IfHasVehicle(v.message)== true">
                            {{ v.message }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="tile bg-grayDark">
        <div class="litleTitle">
            <div class="">
                <span *ngIf="weatherToday">
                        <span class="degreeToday">{{ weatherToday.temp_c}}°C</span>
                </span>
                <span *ngIf="weatherToday && weatherToday.precip_mm == 0 && weatherToday.is_day == 1">
                    <img src="../img/sunny.ico" style="width:30px;height:30px;">
                </span>
                <span *ngIf="weatherToday && weatherToday.precip_mm == 0 && weatherToday.is_day == 0">
                    <img src="../img/moon.png" style="width:30px;height:30px;">
                </span>
                <span *ngIf="weatherToday && weatherToday.precip_mm > 0">
                    <img src="../img/rainny.png" style="width:30px;height:30px;">
                </span>
                <br/>
                <br/>
                <span *ngIf="weatherTomorrow && IsDay()">Dem: 
                        <span *ngIf="weatherTomorrow && weatherTomorrow.totalprecip_mm > 0">
                            <img src="../img/rainny.png" style="width:30px;height:30px;">
                        </span>
                        <span *ngIf="weatherTomorrow && weatherTomorrow.totalprecip_mm == 0">
                            <img src="../img/sunny.ico" style="width:30px;height:30px;">
                        </span>
                        <label class="degree">{{ weatherTomorrow.mintemp_c}} - {{ weatherTomorrow.maxtemp_c}}°C</label>
                </span>
            </div>
        </div>
    </div>       
    <article *ngIf="times">
        <div class="tile bg-grayDark" *ngFor="let t of times.times">
            <div class="litleTitle">
                <label>{{ t.country }}</label>
                <div class="bigHour fg-lightBlue">
                    {{ t.value }}
                </div>
            </div>
        </div>
    </article>
     <div *ngIf="stocks">
        <div class="tile bg-grayDark" *ngFor="let stock of stocks.stocks;">
            <div class="litleTitle">
                <label>{{ stock.name }}</label>
                <div class="stockValue fg-lightBlue">
                    <span>
                        {{ stock.value }}
                    </span>
                </div>
            </div>
        </div>
    </div>   
   
   
</div>
